/* 
 * Added by Alex-Byung UK 
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  min-width:400px;
  padding: 0px;
  margin: 0px;
  background-color:#fafafa;
}

a {
  color: DarkBlue;
  cursor: pointer;
}

a:hover {
  color: Blue;
}